/* ==========================================================================
   Animations
   ========================================================================== */

%vertical-slide {
   transition: margin .25s, color 3s;
   &.ng-animate {
      overflow: hidden;
      transition: max-height .25s, opacity .25s, margin .25s, color .5s;
   }
   &.ng-enter {
      max-height: 0;
      opacity: 0;
   }
   &.ng-enter-active,
   &.ng-leave {
      max-height: 1000px;
      opacity: 1;
      color: brand(red);
   }
   &.ng-leave-active {
      max-height: 0;
      opacity: 0;
      margin: 0;
   }
}

%fade {
   &.ng-animate {
      transition: opacity .25s;
   }
   &.ng-enter {
      opacity: 0;
   }
   &.ng-enter-active,
   &.ng-leave {
      opacity: 1;
   }
   &.ng-leave-active {
      opacity: 0;
   }
}