/* ==========================================================================
   Animations
   ========================================================================== */

%vertical-slide {
   xmargin: 0 !important;
   transition: color 3s;
   &.ng-animate {
      overflow: hidden;
      transition: max-height .25s, opacity .25s /* margin .25s, color .5s;*/;
   }
   &.ng-enter {
      max-height: 0;
      opacity: 0;
      margin: 0;
   }
   &.ng-enter-active,
   &.ng-leave {
      max-height: 500px;
      opacity: 1;
      margin: 0;
      //color: brand(red);
   }
   &.ng-leave-active {
      max-height: 0;
      opacity: 0;
      margin: 0;
   }
}

%horizontal-slide {
   &.ng-animate {
      transition: transform .3s, opacity .3s;
   }
   &.ng-enter {
      transform: translate3d(-300%, -50%, 0);
      opacity: 0;
   }
   &.ng-enter-active,
   &.ng-leave {
      transform: translate3d(-50%, -50%, 0);
      opacity: 1;
   }
   &.ng-leave-active {
      transform: translate3d(100%, -50%, 0);
      opacity: 0;
   }
}

%fade {
   &.ng-animate {
      transition: opacity .25s;
   }
   &.ng-enter {
      opacity: 0;
   }
   &.ng-enter-active,
   &.ng-leave {
      opacity: 1;
   }
   &.ng-leave-active {
      opacity: 0;
   }
}