/* ==========================================================================
   Code — Default Prism theme
   ========================================================================== */

code {
   @extend %editable;
   @extend %zeta;
   font-family: "PT Mono", monospace;
   white-space: pre;
   word-spacing: normal;
   word-break: normal;
   tab-size: 3;
   hyphens: none;
   color: rgba(black, .75);
   pre > & {
      display: block;
   }
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
   color: rgba(black, .4);
}

.token.punctuation {
   color: rgba(black, .6);
}

.namespace {
   opacity: .7;
}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol {
   color: darken(brand(red), 10%);
}

.token.selector,
.token.attr-name,
.token.string,
.token.builtin {
   color: darken(brand(green), 30%);
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string,
.token.variable {
   color: darken(brand(purple), 5%);
}

.token.atrule,
.token.attr-value,
.token.keyword {
   color: darken(brand(blue), 50%);
}


.token.regex,
.token.important {
   color: darken(brand(yellow), 10%);
}

.token.important {
   font-weight: bold;
}

.token.entity {
   cursor: help;
}