/* ==========================================================================
   Components
   ========================================================================== */

/* Exam
   ========================================================================== */

.exam {
   &__section {
      @include blank-lines(2, trailing);
      @extend %trim-trailing-lines;
   }
   &__contents {
      position: fixed;
      overflow: hidden;
      top: $leading * 4;
      left: calc(50% + #{($layout-width / 2) - $gutter});
      padding-left: $gutter;
      font-family: "Roboto", sans-serif;
      font-weight: 300;
      a {
         text-decoration: none;
         color: rgba(black, .6);
         opacity: .3;
         transition: opacity .2s;
         &.ng-done {
            text-decoration: line-through;
         }
      }
      &:hover a,
      a.ng-active {
         opacity: 1;
      }
   }
}

   .question {
      @include blank-lines(2, trailing);
      @extend %trim-trailing-lines;
      &__points {
         float: right;
         font-style: italic;
      }
      &__image {
         @extend %island;
         display: block;
         width: 100%;
      }
      &__answer {
         @extend %aloof;
         display: block;
         min-height: $leading * 2;
         padding: calc(#{$leading / 2} - 1px) ($gutter * .75);
         box-sizing: border-box;
         border: 1px solid rgba(black, .25);
         outline: 0;
         &[contenteditable]:empty:before {
            content: attr(placeholder);
            color: rgba(black, .25);
         }
      }
   }


/* Canvas
   ========================================================================== */

.canvas {
   @extend %aloof;
   canvas {
      padding: 0;
      image-rendering: optimize-contrast;
   }
}

   .tools {
      @include blank-lines(.5, leading, padding);
      &__item {
         @extend %t-button;
         @extend %icon;
         @include size($leading * 1.5);
         padding: 0;
         text-align: center;
         &:before {
            @include size(100%);
            display: block;
            margin: 0;
            background-size: 80%;
            opacity: .6;
            transition: opacity .1s;
         }
         &.j-disabled:before {
            opacity: .25;
         }
      }
      canvas + & {
         //
         //background: red;
      }
   }

/* Exam preview
   ========================================================================== */

.exam-preview {
   @extend %t-preview;
   @include blank-lines(1.5, trailing);
   transition: transform .1s;
   .content {
      transition: color, border-color, border-width, background, box-shadow;
      transition-duration: .3s;
   }
   &__student {
      line-height: 1;
      font-family: "PT Sans Narrow", sans-serif;
   }
   &__subject {
      margin-bottom: 0;
      font-family: "PT Sans", sans-serif;
   }
   &__date {
      font-family: "PT Sans", sans-serif;
      font-style: italic;
   }
   &.ng-urgent {
      color: brand(red) !important;
      .content {
         border-color: brand(red);
      }
   }
   &:hover {
      z-index: 1000;
      transform: scale(1.5);
      .content {
         @extend %t-sheet;
         box-shadow: 20px 17px 0 0 rgba(black, .05);
      }
   }
}

/* Category preview
   ========================================================================== */

.category-preview {
   @extend %t-preview;
   @include blank-lines(1.5, trailing);
   transition: transform .3s;
   .content {
      transition: color, border-color, border-width, background, box-shadow;
      transition-duration: .3s;
      @include before {
         @include position($top: 3px, $left: 0, $right: 0);
         height: 3px;
         border: solid rgba(black, .5);
         border-width: 1px 0;
         transition: opacity .3s;
      }
   }
   &:before, &:after {
      @extend %t-sheet;
      @include position($top: 0, $left: 0);
      @include size(100%);
      content: '';
      z-index: -1;
      background: darken(white, 2%);
      transition: transform .3s, opacity .15s .15s;
      opacity: 0;
   }
   &:after {
      background: darken(white, 3%);
      z-index: -2;
   }
   &:hover {
      transform: translate(-10px, 10px);
      .content {
         @extend %t-sheet;
         &:before {
            opacity: 0;
         }
      }
      &:before, &:after {
         transition: transform .3s, opacity .1s;
         opacity: 1;
      }
      &:before {
         transform: translate(9px, -10px);
      }
      &:after {
         transform: translate(20px, -20px);
      }
   }
   &__heading {
      line-height: 1;
      font-family: "PT Sans Narrow", sans-serif;
      &:not(:last-child) {
         @extend %heading--subsection;
      }
   }
   &__subheading {
      font-family: "PT Sans", sans-serif;
      font-style: italic;
   }
}


/* List
   ========================================================================== */

.list {
   @extend %islet;
}
