/* ==========================================================================
   Components
   ========================================================================== */

/* Breadcrumbs
   ========================================================================== */

.breadcrumbs {
   @extend %pipe-list;
   li:before {
      content: ' > ';
   }
}


/* Media
   ========================================================================== */

.media {
   @extend %aloof;
   display: flex;
   align-items: flex-start;
   &__figure {
      @include blank-lines(.25, leading);
      margin-right: $gutter;
   }
   &__content {
      flex: 1;
   }
}


/* Search form
   ========================================================================== */

.search-form {
   &__input {
      float: left;
      width: calc(100% - #{$gutter * 1.5});
      margin-bottom: 0;
   }
   &__submit {
      float: left;
      width: $gutter;
      padding: 0;
      margin-left: $gutter / 2;
      font-size: 0;
      &:hover, &:focus {
         outline: none;
      }
   }
}


/* Slideshow
   ========================================================================== */

.slideshow {
   @include aspect-ratio(4,3);
   overflow: hidden;
}

   .slideshow__item {
      @include position($top: 0, $left: 0);
      @include size(100%);
      z-index: -1;
      opacity: 0;
      transition: opacity .5s;
      backface-visibility: hidden;
      &.j-active {
         z-index: 1;
         opacity: 1;
      }
      img {
         @include size(100%);
         @include position($top: 50%, $left: 50%);
         transform: translate(-50%, -50%);
      }
   }