/* ==========================================================================
   Components
   ========================================================================== */

/* Breadcrumbs
   ========================================================================== */

.breadcrumbs {
   @extend %aloof;
   @extend %inline-list;
   @include linespan(1);
   font-family: "PT Sans Narrow", sans-serif;
   li {
      @extend %icon--bullet;
      @include icon {
         @include size($leading);
         float: left;
         margin-right: 0;
         background-size: 50%;
         opacity: .5;
      }
      line-height: $leading;
      &:first-child {
         @include icon {
            display: none;
         }
      }
   }
   &__item {
      color: rgba(black, .5);
      text-decoration: none;
      &:hover {
         color: brand(red);
      }
      &.ng-active {
         color: rgba(black, .6);
         cursor: default;
         border-bottom: 1px solid rgba(black, .2);
      }
   }
   .heading + & {
      @include blank-lines(-1, leading);
   }
}


/* Buttons
   ========================================================================== */

button {
   &:not(.tools__item) {
      @extend %t-button;
   }
}


/* Tools
   ========================================================================== */

.tools {
   font-size: 0;
   transform: translateZ(0);
   &__group {
      float: left;
      max-width: 0;
      white-space: nowrap;
      overflow: hidden;
      opacity: 0;
      transition: max-width .1s, opacity .1s, margin .1s;
   }
   &__item {
      @extend %icon;
      @include size($leading);
      display: block;
      margin-left: .25rem;
      background: none;
      font-size: 0;
      transition: transform .1s, opacity .1s;
      @include icon {
         @include size(100%);
         display: block;
         margin: 0;
         background-size: 100%;
         opacity: .6;
      }
      &:hover,
      &.ng-active, {
         transform: scale(1.4);
      }
      &.ng-active {
         position: relative;
         @include after {
            @include position($bottom: 0, $left: 20%);
            @include size(60%);
            z-index: -1;
            display: block;
            background: brand(yellow);
            border-radius: 50%;
            backface-visibility: hidden;
         }
         // backface-visibility: hidden;
         // filter: drop-shadow(-3px 3px 0px brand(yellow)) drop-shadow(3px -3px 0px brand(red));
      }
      &[disabled] {
         pointer-events: none;
         @include icon {
            opacity: .1;
         }
      }
      &--group {
         float: right;
         &.ng-active + .tools__group {
            max-width: 500px;
            overflow: visible;
            margin: 0 .1rem 0 .5rem;
            opacity: 1;
            transition: max-width .5s, opacity .5s, margin .3s;
         }
      }
   }
   &--small &__item {
      @include size($leading * .75);
      @include blank-lines(.125, both);
   }
   &--flush {
      float: right;
      margin-left: 1rem;
   }
   &--binary {
      display: inline-flex;
      flex-direction: column;
      vertical-align: bottom;
   }
   &--binary &__item {
      @include size($leading / 2);
   }
}


/* Exam
   ========================================================================== */

.exam {
   &.ng-hidden {
      @include after {
         @include position($top: $leading * 5, $left: -$gutter / 4);
         width: calc(100% + #{$gutter / 2});
         height: calc(100% - #{$leading * 4});
         background: white;
         box-shadow: .25em .25em 0 0 rgba(black, .05),
                     0 -.5em .5em -#{$gutter / 4} rgba(black, .1);
      }
   }
   &__header {
      @extend %aloof;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
   }
   &__subject {
   }
   &__date {
      @extend %icon--bullet;
      font-weight: 400 !important;
      @include icon {
         width: $leading * 1.5;
         height: $leading * 2;
         background-size: 50%;
         margin-right: 0;
         opacity: .75;
      };
   }
   &__person {
      flex: 1 100%;
      font-style: italic;
      line-height: 1.5;
      @include icon {
         width: 1.5rem;
      }
   }
   &__header > .heading {
      margin-bottom: 0;
   }
   &__controls {
      @extend %inline-list;
      @include buttons(lighten(silver, 20%));
      @include primary-button(lighten(brand(red), 40%));
      flex: 1;
      text-align: right;
   }
   &__section {
      @include blank-lines(3, trailing);
      @extend %trim-trailing-lines;
      @extend %vertical-slide;
      > header {
         @include blank-lines(.5, trailing);
         position: relative;
         display: flex;
         align-items: center;
         @include before() {
            @include position($left: 0, $right: 0, $bottom: 0);
            height: 2px;
            border: solid rgba(black, .5);
            border-width: 1px 0;
         }
         .heading {
            @include blank-lines(.5, trailing);
            flex: 1;
         }
         .tools {
            opacity: .25;
            transition: opacity .25s;
         }
      }
      &:hover {
         > header .tools {
            opacity: 1;
         }
      }
   }
   &__points {
      @extend %delta;
      height: $leading;
      line-height: $leading;
      font-family: "Roboto", sans-serif;
      font-style: italic;
      .tools + & {
         width: 20%;
         text-align: right;
      }
   }
   &__contents {
      position: fixed;
      top: $leading * 4;
      left: calc(50% + #{($layout-width / 2) - $gutter});
      padding-left: $gutter;
      font-family: "Roboto", sans-serif;
      font-weight: 300;
      opacity: .3;
      transition: opacity .3s;
      transform: translateZ(0);
      &:hover {
         opacity: 1;
      }
      a {
         text-decoration: none;
         color: rgba(black, .6);
         &.ng-done {
            text-decoration: line-through;
         }
         &:empty:after {
            content: '(untitled)';
         }
      }
      li {
         @extend %vertical-slide;
      }
      .ng-animate & {
         display: none;
      }
   }
}

   .question {
      @include blank-lines(2, trailing);
      @extend %trim-trailing-lines;
      @extend %vertical-slide;
      > header {
         @include blank-lines(.5, trailing);
         padding-bottom: calc(#{$leading / 2} - 1px);
         border-bottom: 1px solid rgba(black, .5);
         display: flex;
         align-items: center;
         .heading {
            flex: 1;
            margin-bottom: 0;
            white-space: nowrap;
         }
      }
      .tools {
         opacity: .25;
         transition: opacity .25s;
      }
      &:hover {
          .tools {
            opacity: 1;
         }
      }
      &__chunk {
         @extend %vertical-slide;
         clear: both;
      }
      &__image {
         @extend %aloof;
         @extend %center;
         clear: both;
         display: block;
         max-width: 100%;
         .tools + & {

         }
         &[src^="data:image/svg+xml"] {
            width: 100%;
         }
      }
      &__answer {
         transition: height 1s;
         p, pre, .bullet-list {
            @extend %inset;
         }
         fieldset {
            padding: calc(#{$leading * 3/4} - 1px) ($gutter * .75);
            padding-bottom: 0;
            border-top: 1px solid rgba(black, .25);
         }
      }
      &__answer &__image {
         box-sizing: border-box;
         border: 1px solid rgba(black, .25);
      }
   }


/* Canvas
   ========================================================================== */

.canvas {
   @extend %aloof;
   clear: both;
   canvas {
      box-sizing: border-box;
      border: 1px solid rgba(black, .25);
      image-rendering: optimize-contrast;
   }
   &__tools {
      @include blank-lines(.25, leading);
   }
}


/* Preview
   ========================================================================== */

.preview {
   @extend %t-preview;
   @include blank-lines(1.5, trailing);
   transform: translateZ(0);
   &__heading {
      line-height: 1 !important;
      font-family: "PT Sans Narrow", sans-serif;
   }
   &__subheading {
      margin-bottom: 0;
      font-family: "PT Sans", sans-serif;
      span {
         @include blank-lines(.35, trailing);
         display: inline-block;
         padding: 0 .75rem;
         padding-bottom: calc(#{$leading * .15} - 1px);
         border-bottom: 1px solid rgba(black, .25);
         transition: border-color .3s;
      }
   }
   time {
      display: block;
      line-height: 1.25;
   }
   &--sheet {
      transition: transform .1s;
      @include before {
         @include position($top: 0, $right: 0);
         @include size(15px);
         z-index: 10;
         background: brand(paper);
         border: solid rgba(black, .5);
         border-width: 0 0 1px 1px;
      }
      @include after {
         @include position($top: 15px, $right: 0px);
         width: 21px;
         height: 0;
         border-top: 1px solid rgba(black, .6);
         z-index: 10;
         transform: rotateZ(45deg);
         transform-origin: top right;
      }
      &:before, &:after {
         opacity: 1;
         transition: opacity .1s;
      }
      .content {
         transition: background-color, border-color;
         transition-duration: .3s;
      }
      &:hover {
         z-index: 100;
         transform: scale(1.5) translateZ(0);
         &:before, &:after {
            opacity: 0;
         }
         .content {
            @extend %t-sheet;
            box-shadow: 20px 17px 0 0 rgba(black, .05);
         }
      }
   }
   &--stack {
      .content {
         transition: background-color, border-color, transform;
         transition-duration: .3s;
         @include before {
            @include position($top: 3px, $left: 0, $right: 0);
            height: 3px;
            border: solid rgba(black, .5);
            border-width: 1px 0;
            transition: opacity .3s, border-color .3s;
         }
      }
      &:before, &:after {
         @extend %t-sheet;
         @include position($top: 0, $left: 0);
         @include size(100%);
         content: '';
         z-index: -1;
         background: darken(white, 1%);
         opacity: 0;
         transition: transform .3s, opacity .15s .15s;
      }
      &:after {
         background: darken(white, 2%);
         z-index: -2;
      }
      &:hover {
         .content {
            @extend %t-sheet;
            transform: translate(-9px, 9px);
            &:before {
               opacity: 0;
            }
         }
         &:before, &:after {
            transition: transform .3s, opacity .1s;
            opacity: 1;
         }
         &:after {
            transform: translate(9px, -9px);
         }
      }
   }
   &.ng-urgent {
      color: brand(red);
      &:not(:hover) {
         .content,
         .content:before,
         span,
         &:before,
         &:after, {
            border-color: brand(red);
         }
      }
   }
}


/* List
   ========================================================================== */

.list {
   @extend %islet;
}


/* Modal
   ========================================================================== */

.modal {
   @include blank-lines(1, both, padding);
   @include taper(1, both);
   display: flex;
   align-items: stretch;
   position: fixed;
   top: 50%;
   left: 50%;
   z-index: 10000;
   transform: translate3d(-50%, -50%, 0);
   width: $main-content-width * 4/5;
   box-sizing: border-box;
   background: lighten(brand(yellow), 10%);
   box-shadow: 2rem 2rem 0 0 rgba(black, .075);
   pointer-events: auto;
   font-family: "Roboto", sans-serif;
   font-weight: 300;
   color: rgba(black, .6);
   &.ng-animate {
      transition: transform .3s, opacity .3s;
   }
   &.ng-enter {
      transform: translate3d(calc(-50vw - 100%), -50%, 0);
      opacity: 0;
   }
   &.ng-enter-active,
   &.ng-leave {
      transform: translate3d(-50%, -50%, 0);
      opacity: 1;
   }
   &.ng-leave-active {
      transform: translate3d(50vw, -50%, 0);
      opacity: 0;
   }
   label {
      @include blank-lines(.5, trailing);
   }
   input,
   select {
      @include blank-lines(1, trailing);
      @extend %epsilon;
      width: 100%;
      color: rgba(black, .6);
      font-weight: 300;
   }
   &__close {
      display: none;
      @include position($top: $leading * .25, $right: $leading * .25);
   }
   &__content {
      flex: 1;
      text-align: right;
   }
   &__prompt {
      @extend %delta;
      text-align: left;
   }
   @include icon {
      display: block;
      min-width: 10rem;
      min-height: 5rem;
      width: auto;
      height: auto;
   }
   &--loading {
      @include icon {
         animation: spin .75s infinite;
      }
   }
   &--save {
      @extend %icon--save;
      @include primary-button(lighten(brand(red), 40%));
      background: lighten(brand(purple), 20%);
   }
   &--setDuration {
      @extend %icon--watch;
      @include primary-button(lighten(brand(red), 40%));
      background: lighten(brand(purple), 20%);
   }
   &--loadImage {
      @extend %icon--photo;
      @include primary-button(lighten(brand(red), 40%));
      background: lighten(brand(purple), 20%);
   }
   &--chooseProgrammingLanguage {
      @extend %icon--code-alt;
      @include primary-button(lighten(brand(red), 40%));
      background: lighten(brand(purple), 20%);
   }
   &--chooseLanguage {
      @extend %icon--bubble;
      @include primary-button(lighten(brand(red), 40%));
      background: lighten(brand(purple), 20%);
   }
   &--success {
      @extend %icon--thumbs-up;
      background: lighten(brand(green), 10%);
   }
   &--shadyStudent {
      @extend %icon--pirate;
      background: lighten(brand(yellow), 10%);
   }
   &--student {
      @extend %icon--person;
      background: lighten(brand(purple), 20%);
   }
   &--examFinished {
      @extend %icon--not-write;
      background: lighten(brand(yellow), 10%);
   }
   &--examStarted {
      @extend %icon--flag;
      background: lighten(brand(purple), 20%);
   }
   &--alert {
      @extend %icon--caution;
      background: lighten(brand(yellow), 10%);
   }
   &--confirm {
      @extend %icon--question-mark;
      @include buttons(brand(yellow));
      @include primary-button(lighten(brand(green), 10%));
      background: lighten(brand(yellow), 10%);
   }
   &--error {
      @extend %icon--caution;
      background: lighten(brand(red), 15%);
   }
   &--pledge {
      @extend %icon;
      @include primary-button(lighten(brand(red), 40%));
      @include icon {
         min-width: 40%;
         margin-right: $gutter;
         background-image: url('../img/logo-cvut.svg');
         background-position: top;
         opacity: .4;
      }
      background: lighten(brand(purple), 20%);
   }
      &--pledge &__prompt {
         font-size: 1rem;
         font-style: italic;
         font-family: "PT Sans", sans-serif;
      }
}


/* Timer
   ========================================================================== */

.timer {
   @extend %kilo;
   @extend %icon--clock-alt;
   text-align: center;
   overflow: hidden;
   transform: translateX(35%) translateZ(0);
   transition: transform .4s;
   cursor: pointer;
   @include icon {
      @include linespan(8);
      display: block;
      width: 100%;
      margin: 0;
      opacity: .05;
      transition: opacity .4s, transform 1s;
      transform: rotateZ(0);
   }
   @include after() {
      @include position($top: 0, $left: 0);
      @include linespan(8);
      display: block;
      width: 100%;
      opacity: 0;
      transition: opacity .4s, transform 1s;
      transform: rotateZ(-90deg);
      background: {
         repeat: no-repeat;
         size: 100%;
         image: url('data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2297.51%22%20height%3D%2297.513%22%20viewBox%3D%2220.088%2019.661%2097.51%2097.513%22%20enable-background%3D%22new%2020.088%2019.661%2097.51%2097.513%22%3E%3Cpath%20fill%3D%22%23E84849%22%20d%3D%22M68.843%20107.421c-21.542%200-39.004-17.461-39.004-39.005%200-21.542%2017.463-39.003%2039.004-39.003%2021.543%200%2039.005%2017.461%2039.005%2039.003%200%2021.544-17.462%2039.005-39.005%2039.005z%22%2F%3E%3Ccircle%20fill%3D%22%23F6A2A3%22%20cx%3D%2268.843%22%20cy%3D%2268.417%22%20r%3D%2233.698%22%2F%3E%3Cellipse%20fill%3D%22%23E9E9EA%22%20cx%3D%2268.843%22%20cy%3D%2268.417%22%20rx%3D%2230.992%22%20ry%3D%2230.278%22%2F%3E%3Cellipse%20fill%3D%22%23E9E9EA%22%20cx%3D%2268.844%22%20cy%3D%2270.471%22%20rx%3D%2230.993%22%20ry%3D%2230.278%22%2F%3E%3Cg%20fill%3D%22%23626463%22%3E%3Ccircle%20cx%3D%2269.082%22%20cy%3D%2268.143%22%20r%3D%225.176%22%2F%3E%3Cpath%20d%3D%22M69.785%2067.679c.368.367.203%201.128-.366%201.696-.57.57-1.33.734-1.697.366l-12.022-12.017c-.368-.367-.204-1.129.368-1.699.569-.57%201.329-.734%201.696-.365l12.021%2012.019zM69.244%2069.375c-.419.422-1.103.422-1.524%200-.42-.419-.421-1.103%200-1.524l17.429-17.428c.421-.422%201.104-.422%201.525%200%20.42.418.42%201.104%200%201.524l-17.43%2017.428z%22%2F%3E%3C%2Fg%3E%3Cpath%20d%3D%22M68.844%2040.194c-15.307%200-28.011%2010.842-30.531%2025.089h61.062c-2.522-14.248-15.226-25.089-30.531-25.089z%22%20fill%3D%22none%22%2F%3E%3Cpath%20fill%3D%22%23DDDFDF%22%20d%3D%22M68.866%2041.383c24.729.207%2030.786%2023.195%2030.786%2023.195-2.307-14.928-15.233-26.439-30.809-26.439s-28.456%2011.512-30.76%2026.44c0%200%206.053-23.402%2030.783-23.196z%22%2F%3E%3C%2Fsvg%3E'), none;
      }
   }
   &:hover,
   &.ng-urgent {
      transform: translateX(0) translateZ(0);
      @include icon {
         transform: rotateZ(90deg);
         opacity: 0;
      }
      @include after {
         opacity: .8;
         transform: rotateZ(0deg);
      }
   }
   &__display {
      display: block;
      width: 0;
      height: 0;
      overflow: hidden;
      line-height: $leading * 2;
      color: rgba(black, .45);
      opacity: 0;
      transition: width .001s .4s, height .001s .4s, opacity .4s .001s;
      .ng-urgent > &,
      :hover > & {
         width: 100%;
         height: 100%;
         opacity: 1;
         transition: width .001s, height .001s, opacity .4s .001s;
      }
   }
}