/* ==========================================================================
   Forms
   ========================================================================== */

/* Variables
   ========================================================================== */

$forms-border-width: 1px;


/* Elements
   ========================================================================== */

fieldset {
   @extend %aloof;
}

label {
   @extend %editable;
   display: block;
   &[for] {
      cursor: pointer;
   }
}

input,
textarea,
select {
   @include linespan(1.5);
   @include blank-lines(.5, trailing);
   @extend %trim-trailing-lines;
   display: block;
   padding: 0 .5em;
   border: 1px solid rgba(black, .4);
   border-bottom-color: rgba(black, .15);
   border-right-color: rgba(black, .15);
   background: rgba(white, .4);
   box-sizing: border-box;
   transition: background-color .25s;
   &:hover,
   &:focus {
      background: rgba(white, .8);
   }
}

input,
textarea {
   width: 100%;
   &.error {
      border-color: brand(red);
   }
}

.checkbox-wrapper {
   @include blank-lines(.5, trailing);
   display: flex;
   flex-direction: row-reverse;
   label {
      flex: 1;
      margin-left: $gutter / 2;
   }
   input {
      margin-bottom: 0;
   }
}

   input[type="checkbox"] {
      @include linespan(1);
      width: $leading;
      padding: 0;
      cursor: pointer;
      vertical-align: top;
      &:checked {
         position: relative;
         @extend %icon--tick;
         @include icon {
            @include size(100%);
            @include position($top: 0, $left: 0);
            margin: 0;
            background-size: 90%;
            opacity: .75;
         }
      }
   }

textarea {
   height: auto;
   padding: calc(#{$leading * .25} - #{$forms-border-width}) .5em;
   line-height: $leading;
}

select {
   padding: 0 .25em;
   cursor: pointer;
}


