/* ==========================================================================
   Forms
   ========================================================================== */

/* Variables
   ========================================================================== */

$forms-border-width: 1px;


/* Elements
   ========================================================================== */

fieldset {
   @extend %aloof;
}

label {
   @extend %editable;
   display: block;
   &[for] {
      cursor: pointer;
   }
}

input,
textarea,
select {
   @include linespan(1.5);
   @include blank-lines(.5, trailing);
   @extend %trim-trailing-lines;
   display: block;
   box-sizing: border-box;
   color: rgba(black, .75);
}

input,
textarea {
   width: 100%;
   border: $forms-border-width solid grey;
   transition: border-color .5s;
   &.error {
      border-color: red;
   }
   &:focus {
      border-color: blue;
   }
}

input {
   padding: 0 .5em;
}

.checkbox-wrapper {
   @include blank-lines(.5, trailing);
   display: flex;
   flex-direction: row-reverse;
   label {
      flex: 1;
      margin-left: .5em;
   }
   input {
      margin-bottom: 0;
   }
}

   input[type="checkbox"] {
      @include linespan(1);
      width: $leading;
      cursor: pointer;
      vertical-align: top;
      &:checked {
         background: {
            size: 85%;
            position: center;
            repeat: no-repeat;
            image: url('../img/icon-tick.png');
            image: url('data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20width%3D%2232%22%20height%3D%2232%22%20viewBox%3D%220%200%2032%2032%22%3E%3Cg%20enable-background%3D%22new%22%3E%3Cdefs%3E%3Cpath%20id%3D%22a%22%20d%3D%22M0%200h32v32h-32z%22%2F%3E%3C%2Fdefs%3E%3CclipPath%20id%3D%22b%22%3E%3Cuse%20xlink%3Ahref%3D%22%23a%22%20overflow%3D%22visible%22%2F%3E%3C%2FclipPath%3E%3Cpath%20clip-path%3D%22url(%23b)%22%20d%3D%22M28.868%204.259c-8.288%205.081-14.301%2011.491-17.003%2014.709l-6.617-5.184-2.922%202.355%2011.434%2011.629c1.968-5.041%208.2-14.892%2015.811-21.892l-.703-1.617z%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E'), none;
         }
      }
   }

textarea {
   height: auto;
   padding: calc(#{$leading * .25} - #{$forms-border-width}) .5em;
   line-height: $leading;
}


