/* ==========================================================================
   Icons
   ========================================================================== */

.icon, %icon {
   padding-left: $gutter;
   background: {
      repeat: no-repeat;
      size: auto 60%;
      position: left;
   }
   &--right {
      padding-left: 0;
      padding-right: $gutter;
      background-position: right;
   }
}

@import "icons-data";