/* ==========================================================================
   Icons
   ========================================================================== */

%icon {
   @include before() {
      display: inline-block;
      height: #{$line-height}em;
      width: $gutter;
      margin-right: $gutter / 4;
      margin-left: 0;
      background: {
         position: center;
         size: contain;
         repeat: no-repeat;
      }
      opacity: .5;
      vertical-align: top;
   }
   &--right {
      direction: rtl;
      &:before {
         margin-right: 0;
         margin-left: $gutter / 4;
      }
   }
   &--negative {
      &:before {
         filter: invert(100%);
      }
   }
}

@import "icons-data";