/* ==========================================================================
   Icons
   ========================================================================== */

.icon {
   padding-left: #{$line-height}em;
   background: {
      repeat: no-repeat;
      size: auto 80%;
      position: left center;
   }
   &[type] {
      padding-left: #{$line-height + $line-height/4}em;
      background: {
         size: auto 70%;
         position: #{$line-height/4}em center;
      }
   }
}