/* ==========================================================================
   Layout
   ========================================================================== */

body {
   @extend %dimmable;
   background: brand(blue);
}

.layout-wrapper {
   @extend %center;
   box-sizing: border-box;
   padding: 0 $gutter;
   max-width: $layout-width;
   @include media-query(palm) {
      padding: 0 ($gutter / 2);
   }
}


/* ==========================================================================
   Header
   ========================================================================== */

$navigation-height: $leading * 1;

.page-header {
   @include blank-lines(1, both);
   margin-left: $sidebar-width;
   //padding-bottom: $navigation-height;
   font-family: "Roboto";
}

   .site-logo {

   }

   .top-nav {
      box-sizing: border-box;
      text-align: right;
      &__item {
         display: block;
      }
   }


/* ==========================================================================
   Layout grid
   ========================================================================== */

.layout-grid {
   display: flex;
}


/* ==========================================================================
   Main content
   ========================================================================== */

.main-content {
   @include blank-lines(3, trailing);
   @include blank-lines(2, both, padding);
   @include taper(2);
   flex: 1;
   position: relative;
   z-index: 1;
   max-width: $main-content-width;
   min-height: $main-content-width * 1.414;
   box-sizing: border-box;
   border: solid rgba(black, .05);
   border-width: 0 1px 1px 0;
   background: brand(paper);
   box-shadow: .25em .25em 0 0 rgba(black, .05);
   .content {
      //@extend %fade;
   }
}


/* Sidebar
   ========================================================================== */

.sidebar {
   @include blank-lines(2, leading, padding);
   width: $sidebar-width;
   box-sizing: border-box;
}

   .site-nav {
      @include blank-lines(2, trailing);
      text-align: right;
      overflow: hidden;
      transform: translateZ(0);
      &__item {
         @extend %icon--right;
         @include linespan(2);
         @include blank-lines(.5, trailing);
         display: inline-block;
         padding: 0 $leading;
         box-sizing: border-box;
         line-height: $leading * 2;
         border-bottom: 1px solid rgba(black, .1);
         font-family: "Roboto", sans-serif;
         font-weight: 300;
         text-decoration: none;
         font-size: 1.2em;
         color: rgba(black, .65);
         transition: transform, opacity, color, box-shadow, background-color;
         transition-duration: .25s;
         opacity: .3;
         @include icon {
            margin-left: $gutter / 2;
         };
         &:hover,
         &:focus,
         &.ng-active,
         &.ng-ongoing {
            transform: translateX($leading / 1.75);
            background-color: brand(yellow);
            box-shadow: inset #{-($leading / 1.75 + .2rem)} 0 .2rem 0 rgba(black, .075),
                        .5rem .2rem 0 0 rgba(black, .05);
            opacity: 1;
            color: inherit;
         }
         &.ng-ongoing {
            background-color: brand(green);
         }
         &.ng-urgent {
            color: brand(red);
            opacity: 1;
         }
         .site-nav:hover & {
            opacity: 1;
         }
      }
   }


/* ==========================================================================
   Footer
   ========================================================================== */

.page-footer {

}