/* ==========================================================================
   Layout
   ========================================================================== */

html {
   overflow-y: scroll;
   overflow-x: hidden;
}

body {
   @extend %dimmable;
   background: brand(blue);
}

.layout-wrapper {
   @extend %center;
   box-sizing: border-box;
   padding: 0 $gutter;
   max-width: $layout-width;
   @include media-query(palm) {
      padding: 0 ($gutter / 2);
   }
   &.ng-animate {
      transition: transform 1.5s;
   }
   &.ng-enter {
      transform: translate3d(calc(50% + 50vw), 0, 0);
   }
   &.ng-enter-active,
   &.ng-leave {
      transform: translate3d(0, 0, 0);
   }
   &.ng-leave-active {
      transform: translate3d(calc(50% + 50vw), 0, 0);
   }
}


/* ==========================================================================
   Header
   ========================================================================== */

$navigation-height: $leading * 1;

.page-header {
   @include blank-lines(1, both);
   margin-left: $sidebar-width;
}

   .site-logo {

   }

   .top-nav {
      opacity: .6;
      text-align: right;
      &__item {
         display: block;
      }
   }


/* ==========================================================================
   Layout grid
   ========================================================================== */

.layout-grid {
   display: flex;
}


/* ==========================================================================
   Main content
   ========================================================================== */

.main-content {
   @include blank-lines(3, trailing);
   @include blank-lines(2, both, padding);
   @include taper(2);
   flex: 1;
   position: relative;
   z-index: 1;
   max-width: $main-content-width;
   min-height: $main-content-width * 1.414;
   height: 100%;
   box-sizing: border-box;
   border: solid rgba(black, .05);
   border-width: 0 1px 1px 0;
   background: brand(paper);
   box-shadow: .25em .25em 0 0 rgba(black, .05);
   .content {
      &.ng-leave {
         @include position($top: 0, $left: 0, $right: 0);
         @include blank-lines(2, both, padding);
         @include taper(2);
         z-index: 10000;
         min-height: $main-content-width * 1.414;
         box-sizing: border-box;
         transform: translateX(0) translateZ(0);
         border-left: 1px solid rgba(black, .25);
         background: brand(paper);
         overflow: hidden;
         opacity: 1;
         transition: transform .5s, opacity .6s;
      }
      &.ng-leave-active {
         opacity: 0;
         transform: translateX(100%) translateZ(0);
      }
   }
}


/* Sidebar
   ========================================================================== */

.sidebar {
   @include blank-lines(2, leading, padding);
   width: $sidebar-width;
   box-sizing: border-box;
   overflow: hidden;
}

   .site-nav {
      @include blank-lines(2, trailing);
      transform: translateZ(0);
      text-align: right;
      overflow: hidden;
      &__item {
         @extend %icon--right;
         @extend %epsilon;
         @include linespan(2);
         @include blank-lines(.5, trailing);
         display: inline-block;
         padding: 0 $leading;
         box-sizing: border-box;
         line-height: $leading * 2;
         border-bottom: 1px solid rgba(black, .1);
         font-family: "Roboto", sans-serif;
         font-weight: 300;
         text-decoration: none;
         color: rgba(black, .5);
         transition: transform, opacity, color, box-shadow, background-color;
         transition-duration: .25s;
         opacity: .3;
         @include icon {
            height: $leading * 2;
            margin-left: $gutter / 2;
         };
         &:hover,
         &:focus,
         &.ng-active,
         &.ng-ongoing,
         &.ng-urgent {
            transform: translateX($leading / 1.75);
            background-color: brand(yellow);
            box-shadow: inset #{-($leading / 1.75 + .2rem)} 0 .2rem 0 rgba(black, .075),
                        .5rem .2rem 0 0 rgba(black, .05);
            opacity: 1;
            color: rgba(black, .5);
         }
         &.ng-urgent {
            background-color: lighten(brand(red), 30%);
         }
         &.ng-ongoing {
            background-color: brand(green);
         }
         &.ng-active {
            background-color: brand(yellow);
         }
         .site-nav:hover & {
            opacity: 1;
         }
      }
      &.ng-animate {
         transition: transform .75s;
      }
      &.ng-enter {
         transform: translateX(100%) translateZ(0);
      }
      &.ng-leave,
      &.ng-enter-active {
         transform: translateX(0) translateZ(0);
      }
      &.ng-leave-active {
         transform: translateX(100%) translateZ(0);
      }
   }


/* ==========================================================================
   Footer
   ========================================================================== */

.page-footer {

}


/* ==========================================================================
   Login form
   ========================================================================== */

.login {
   @include position($top: 50%, $left: 50%);
   @include blank-lines(2, both, padding);
   @include taper(2);
   transform: translate3d(-50%, -50%, 0);
   width: $main-content-width / 1.5;
   box-sizing: border-box;
   &.ng-animate {
      transition: transform 1.5s;
   }
   &.ng-enter {
      transform: translate3d(-100vw, -50%, 0);
   }
   &.ng-enter-active,
   &.ng-leave {
      transform: translate3d(-50%, -50%, 0);
   }
   &.ng-leave-active {
      transform: translate3d(-100vw, -50%, 0);
   }
   @include before(url('../img/pencil.svg')) {
      @include position($top: -10%, $right: 115%);
      font-size: 0;
      transform: rotateZ(-105deg);
      transform-origin: right;
      filter: drop-shadow(-7px 7px 0 rgba(black, .125));
   }
   &__heading {
      @extend %kilo;
      @include blank-lines(1, trailing);
      line-height: $leading * 2;
      font-family: "Roboto", sans-serif;
      font-weight: 300;
      color: rgba(black, .4);
      text-indent: -5px;
   }
   &__form {
      @include primary-button(lighten(brand(green), 10%));
      text-align: right;
   }
   &__input {
      @extend %epsilon;
      @include linespan(2);
      line-height: auto;
      font-family: "Roboto", sans-serif;
      font-weight: 300;
      text-align: center;
      color: rgba(black, .75);
      &:last-of-type {
         @include blank-lines(1, trailing);
      }
   }
   &__submit {
      @extend %epsilon;
      @include linespan(1.75);
      width: 33%;
   }
}