/* ==========================================================================
   Modifiers
   ========================================================================== */

%trim-trailing-lines {
   :not(div) > &:last-child {
      margin-bottom: 0;
   }
}

%trim-leading-lines {
   &:first-child {
      margin-top: 0;
   }
}

%aloof {
   @extend %trim-trailing-lines;
   @include blank-lines(1, trailing);
}

%island {
   @extend %trim-trailing-lines;
   @extend %trim-leading-lines;
   @include blank-lines(1, leading);
   @include blank-lines(1, trailing);
}

%islet {
   @extend %trim-trailing-lines;
   @extend %trim-leading-lines;
   @include blank-lines(2, leading);
   @include blank-lines(2, trailing);
}

%center {
   margin-left: auto;
   margin-right: auto;
}

%dimmable {
   @include before {
      position: fixed;
      z-index: 100;
      top: 0;
      left: 0;
      width: 0;
      height: 0;
      background: black;
      opacity: 0;
      transition: opacity .3s, width .001s .3s, height .001s .3s;
      backface-visibility: hidden;
   }
   &.ng-dim {
      pointer-events: none;
      &:before {
         width: 100%;
         height: 100%;
         opacity: .6;
         transition: opacity .3s;
      }
   }
}

%sticky {
   @include media-query(desk) {
      &.j-stick {
         position: fixed;
         top: 0;
         backface-visibility: hidden;
      }
   }
}

%strip {
   width: auto;
   height: auto;
   background: none;
   border: 0;
   padding: 0;
}

%inset {
   min-height: $leading * 2;
   padding: calc(#{$leading / 2} - 1px) ($gutter * .75);
   box-sizing: border-box;
   border: 1px solid rgba(black, .25);
}


%editable {
   &[contenteditable="true"] {
      cursor: text;
      outline: 0;
      &:empty:not(:focus):after {
         content: attr(placeholder);
         color: rgba(black, .25);
      }
   }
}


/* Progressive enhancement
   ========================================================================== */

.desk--extra, %desk--extra {
   @include media-query(portable) {
      display: none !important;
   }
}

.considerable--extra, %considerable--extra {
   @include media-query(palm) {
      display: none !important;
   }
}