/* ==========================================================================
   Templates
   ========================================================================== */

/* Buttons
   ========================================================================== */

%t-button {
   display: inline-block;
   background-color: darken(white, 10%);
   box-shadow: 1px 1px 0 0 rgba(black, .3);
   transition: background-color .25s;
   &:active,
   &.j-active {
      box-shadow: inset 1px 1px 0 0 rgba(black, .3);
      background-color: map-get($colors, yellow);
   }
   &.j-disabled {
      box-shadow: none;
      cursor: default;
   }
}