/* ==========================================================================
   Templates
   ========================================================================== */

/* Buttons
   ========================================================================== */

%t-button {
   display: inline-block;
   padding: .25em .75em;
   background: darken(map-get($colors, paper), 2%);
   border: 1px solid rgba(black, .3);
   border-radius: .5em;
   transition: background-color .1s;
   &:active,
   &.j-active {
      background-color: map-get($colors, yellow);
   }
}