/* ==========================================================================
   Fonts
   ========================================================================== */


/* ==========================================================================
   Typography
   http://modularscale.com/scale/?px1=16&px2=528&ra1=1.5
   ========================================================================== */

html {
   line-height: $line-height;
   font-size: 1em;
   font-family: "PT Sans", serif;
   color: rgba(black, .75);
   font-feature-settings: 'liga', 'kern';
   @include media-query(palm) {
      font-feature-settings: 'liga' 0, 'kern' 0;
   }
}


/* Links
   ========================================================================== */

a {
   color: map-get($colors, red);
   text-decoration: underline;
   transition: color .25s;
   &:hover,
   &:focus,
   &:active {
      color: blue;
   }
}


/* Headings
   ========================================================================== */

.heading, %heading {
   @extend %aloof;
   @extend %editable;
   line-height: $leading;
   font-family: "PT Sans", serif;
   font-weight: 400;
   font-feature-settings: 'liga', 'kern', 'swsh', 'calt';
   font-size: 1rem;
   &.alpha {
      line-height: $leading * 2;
      font-family: "PT Sans Narrow", serif;
      font-weight: 700;
   }
   &.beta {
      line-height: $leading * 2;
      font-family: "PT Sans Narrow", serif;
   }
   &--caption {
      @include taper(.6);
      margin-bottom: 0;
      font-style: italic;
   }
}

.alpha, %alpha {
   font-size: 2.458rem;
}

.beta, %beta {
   font-size: 2.25rem;
}

.gamma, %gamma {
   font-size: 1.639rem;
}

.delta, %delta {
   font-size: 1.42rem;
}

.epsilon, %epsilon {
   font-size: 1.28rem;
}


/* One-liners
   ========================================================================== */

.kilo, %kilo {
   font-size: 3.375rem;
}
.mega, %mega {
   font-size: 6.519rem;
}
.giga, %giga {
   font-size: 9.778rem;
}


/* Paragraphs
   ========================================================================== */

p {
   @extend %aloof;
   @extend %editable;
   &.lede {
      @include blank-lines(2, trailing);
      @extend %trim-trailing-lines;
      font-style: italic;
   }
}

span {
   @extend %editable;
}


/* Lists
   ========================================================================== */

.block-list, %block-list {
   @extend %aloof;
   display: block;
   line-height: $leading;
   li {
      @extend %editable;
      display: block;
      line-height: $leading;
   }
   & & {
      margin-left: $gutter / 2;
   }
}

.bullet-list, %bullet-list {
   @extend %block-list;
   li {
      padding-left: #{$line-height}em;
      @include before('●') {
         float: left;
         width: #{$line-height}em;
         margin-left: -#{$line-height}em;
         text-align: left;
      }
   }
}

.inline-list, %inline-list {
   li {
      display: inline-block;
      vertical-align: middle;
   }
}

/**
 * 1. ':first-child' is used to support IE8.
 */
.pipe-list, %pipe-list {
   @extend %inline-list;
   li {
      margin-left: 0;
      &:before {
         content: ' | ';
      }
      &:first-child:before { /* 1. */
         display: none;
      }
   }
}