/* ==========================================================================
   Variables
   ========================================================================== */

/* Typography
   ========================================================================== */

$line-length: 33em;
$line-height: 1.5;
$leading: $line-height * 1rem;


/* Layout
   ========================================================================== */

$gutter: 1.5em;
$layout-width: (2 * $line-length) + (3 * $gutter);


/* Breakpoints
   ========================================================================== */

$breakpoints: (
   'portable' '(max-width: #{($layout-width - .001)})',
   'considerable' '(min-width: #{$line-length})',
   'palm' '(max-width: #{($line-length - .001)})',
   'lap' '(min-width: #{$line-length}) and (max-width: #{($layout-width - .001)})',
   'desk' '(min-width: #{$layout-width})'
);


/* Colors
   ========================================================================== */
