/* ==========================================================================
   Variables
   ========================================================================== */

/* Typography
   ========================================================================== */

$line-length: 42em;
$line-height: 1.5;
$leading: $line-height * 1rem;


/* Layout
   ========================================================================== */

$gutter: 1.5em;
$main-content-width: $line-length + (4 * $gutter);
$sidebar-width: ($line-length / 4) + $gutter;
$padding-width: 2 * $gutter;
$layout-width: $main-content-width + $sidebar-width + $padding-width;

/* Breakpoints
   ========================================================================== */

$breakpoints: (
   'portable' '(max-width: #{($layout-width - .001)})',
   'considerable' '(min-width: #{$line-length})',
   'palm' '(max-width: #{($line-length - .001)})',
   'lap' '(min-width: #{$line-length}) and (max-width: #{($layout-width - .001)})',
   'desk' '(min-width: #{$layout-width})'
);


/* Colors
   ========================================================================== */

$colors: (
   blue: #d7eeff,
   paper: #fbfaf5,
   yellow: #fdc807,
   red: #d1192b
);