<h1 class="alpha heading">Blueprints</h1>

<section class="list" ng-switch on="level">

   <div class="grid" ng-switch-when="subject">

      <div class="grid__item one-quarter" ng-repeat="subject in subjects">

         <section class="category-preview">
            <div class="content">
               <h1 class="beta heading category-preview__heading">{{subject | uppercase}}</h1>
            </div>
            <a ng-href="blueprints/{{subject}}" class="more"></a>
         </section>

      </div>

   </div>

   <div class="grid" ng-switch-when="date">

      <div class="grid__item one-quarter" ng-repeat="blueprint in blueprints">

         <section class="category-preview">
            <div class="content">
               <h1 class="gamma heading category-preview__heading">{{blueprint.subject | uppercase}}</h1>
               <h2 class="epsilon heading category-preview__subheading">{{blueprint.date | date: 'd. M. yyyy'}}</h2>
            </div>
            <a ui-sref="blueprint({
               subject: blueprint.subject,
               date: dateFilter(blueprint.date, 'yyyy-MM-dd'),
               lang: blueprint.lang
            })" class="more"></a>
         </section>

      </div>

   </div>

</section>