<article class="exam">

   <h1 class="alpha heading exam__heading">{{blueprint.subject | uppercase}} &mdash; {{blueprint.date | date:'d. M. yyyy'}}</h1>

   <aside class="exam__contents">
      <ol class="block-list">
         <li ng-repeat="section in blueprint.sections">
            <a ng-class="{'ng-active': $index == activeSection}" ng-smooth-scroll ng-href="{{url}}#{{section.name | idfy}}">{{section.name}}</a>
            <ol class="block-list">
               <li ng-repeat="question in section.questions"><a ng-class="{'ng-active': $index == activeQuestion}" ng-smooth-scroll ng-href="{{url}}#{{question.name | idfy}}">{{question.name}}</a></li>
            </ol>
         </li>
      </ol>
   </aside>

   <p ng-if="blueprint.lede" class="lede">{{blueprint.lede}}</p>

   <section class="exam__section" id="{{section.name | idfy}}" ng-repeat="section in blueprint.sections">

      <h1 class="beta heading heading--section">
         {{section.name}}
      </h1>

      <p ng-if="section.lede">{{section.lede}}</p>

      <question content="question" ng-repeat="question in section.questions"></question>

   </section>

</article>