<h1 class="alpha heading">Browse</h1>

<section class="list">

   <div class="grid">

      <div class="grid__item one-quarter" ng-repeat="blueprint in blueprints">

         <section class="exam-preview">
            <div class="content">
               <h1 class="gamma heading exam-preview__student">Adam<br>Havel</h1>
               <h2 class="epsilon heading exam-preview__subject">{{blueprint.subject}}</h2>
               <h3 class="heading exam-preview__date">{{blueprint.date}}</h3>
            </div>
            <a ui-sref="blueprint({subject:blueprint.subject, date:blueprint.duration})" class="more"></a>
         </section>

      </div>

   </div>

</section>