<article class="exam">

   <h1 class="alpha heading exam__heading">{{blueprint.subject | uppercase}} &mdash; <input class="exam__date" type="date" ng-model="blueprint.date" required></h1>

   <contents document="blueprint"></contents>

   <p class="lede" ng-model="blueprint.lede" contenteditable spellcheck="false" placeholder="Type the intro..."></p>

   <button ng-click="addSection()">Add section</button>

   <section class="exam__section" id="{{section.name || 'Untitled section ' + ($index+1) | idfy}}" ng-repeat="section in blueprint.sections">

      <header>
         <h1 class="beta heading" ng-model="section.name" contenteditable spellcheck="false" placeholder="Type the section name..."></h1>
         <ul class="inline-list tools">
            <li><button title="Add question" class="tools__item icon--bubble" ng-click="addQuestion($index)">Add question</button></li>
            <li><button title="Move up" class="tools__item icon--up" ng-disabled="$first" ng-click="move(blueprint.sections, $index, -1)">Move section up</button></li>
            <li><button title="Move down" class="tools__item icon--down" ng-disabled="$last" ng-click="move(blueprint.sections, $index, 1)">Move section down</button></li>
            <li><button title="Remove section" class="tools__item icon--remove" ng-click="remove(blueprint.sections, $index)">Remove section</button></li>
         </ul>
         <p class="exam__points">
            {{section.points}} {{section.points != 1 ? 'points' : 'point'}}
         </p>
      </header>

      <p class="lede" ng-model="section.lede" contenteditable spellcheck="false" placeholder="Type the section intro..."></p>

      <article class="question" id="{{question.name || 'Untitled question ' + ($index+1) | idfy}}" ng-repeat="question in section.questions">

         <header>
            <h1 ng-model="question.name" class="delta heading question__heading" contenteditable spellcheck="false" placeholder="Type the question name..."></h1>
            <ul class="inline-list tools">
               <li><button title="Add paragraph" class="tools__item icon--type" ng-click="addParagraph(question)">Add paragraph</button></li>
               <li><button title="Add list" class="tools__item icon--list" ng-click="addList(question)">Add list</button></li>
               <li><button title="Add code" class="tools__item icon--code" ng-click="addCode(question)">Add code</button></li>
               <li><button title="Add image" class="tools__item icon--photo" ng-click="addImage(question)">Add external image</button></li>
               <li><button title="Add canvas" class="tools__item icon--canvas" ng-click="addCanvas(question)">Add canvas</button></li>
               <li><button title="Move up" class="tools__item icon--up" ng-disabled="$first" ng-click="move(section.questions, $index, -1)">Move question up</button></li>
               <li><button title="Move down" class="tools__item icon--down" ng-disabled="$last" ng-click="move(section.questions, $index, 1)">Move question down</button></li>
               <li><button title="Remove question" class="tools__item icon--remove" ng-click="remove(section.questions, $index)">Remove question</button></li>
            </ul>
            <p class="exam__points">
               <span class="tools tools--binary">
                  <button title="Raise" class="tools__item icon--raise" ng-click="raisePoints(section, question)">Raise</button>
                  <button title="Lower" class="tools__item icon--lower" ng-click="lowerPoints(section, question)" ng-disabled="question.points == 0">Lower</button>
               </span>
               {{question.points}} {{question.points != 1 ? 'points' : 'point'}}
            </p>
         </header>

         <div class="question__chunk" ng-repeat="chunk in question.body" ng-switch on="chunk.datatype">
            <ul class="inline-list tools tools--small tools--flush">
               <li><button title="Move up" class="tools__item icon--up" ng-disabled="$first" ng-click="move(question.body, $index, -1)">Move up</button></li>
               <li><button title="Move down" class="tools__item icon--down" ng-disabled="$last" ng-click="move(question.body, $index, 1)">Move down</button></li>
               <li><button title="Remove" class="tools__item icon--remove" ng-click="remove(question.body, $index)">Remove</button></li>
            </ul>
            <p ng-switch-when="text" ng-model="chunk.content" contenteditable spellcheck="false" placeholder="Type here..."></p>
            <img ng-switch-when="image" class="question__image" ng-src="{{chunk.content}}">
            <icanvas ng-switch-when="canvas" content="chunk.content"></icanvas>
            <snippet ng-switch-when="code" content="chunk.content" lang="{{chunk.lang}}" editable="true"></snippet>
         </div>

         <div class="question__chunk question__answer" ng-repeat="chunk in question.answer" ng-switch on="chunk.datatype">
            <div ng-if="chunk.content">
               <h2 class="heading heading--caption">Hint</h2>
               <p ng-switch-when="text">{{chunk.content}}</p>
               <pre ng-switch-when="code"><code class="language-{{chunk.lang}}">{{chunk.content}}</code></pre>
            </div>
            <div ng-if="chunk.solution">
               <h2 class="heading heading--caption">Solution</h2>
               <p ng-switch-when="text">{{chunk.solution}}</p>
               <pre ng-switch-when="code"><code class="language-{{chunk.lang}}">{{chunk.solution}}</code></pre>
            </div>
         </div>

      </article>

   </section>

</article>