<article class="exam">

   <header class="exam__header">
      <h1 class="alpha heading exam__subject">{{exam.subject | uppercase}}</h1>
      <h2 class="alpha heading exam__date">{{exam.date | date: 'd. M. yyyy, H:mm'}}</h2>
      <div class="exam__controls">
         <div ng-if="evaluation.isOngoing">
            <button ng-click="discard()">Leave</button>
            <button ng-click="store()">Evaluate</button>
         </div>
         <div ng-if="!evaluation.isOngoing">
            <button ng-click="reevaluate()">Re-evaluate</button>
         </div>
      </div>
   </header>

   <contents document="blueprint"></contents>

   <p ng-if="blueprint.lede" class="lede">{{blueprint.lede}}</p>

   <section class="exam__section" id="{{(section.name || 'Untitled section ' + ($index+1)) | idfy}}" ng-repeat="section in blueprint.sections">

      <header ng-if="blueprint.sections.length > 1 || section.lede">
         <h1 class="beta heading" ng-model="section.name">{{section.name}}</h1>
         <p class="exam__points">
            {{section.points}}/{{section.maxPoints}} {{section.maxPoints !== 1 ? 'points' : 'point'}}
         </p>
      </header>

      <p class="lede" ng-if="section.lede">{{section.lede}}</p>

      <article class="question" id="{{(question.name || 'Untitled question ' + ($index+1)) | idfy}}" ng-repeat="question in section.questions">

         <header>
            <h1 class="delta heading question__heading">
               {{question.name}}
            </h1>
            <p class="exam__points">
               <span class="tools tools--binary" ng-if="evaluation.isOngoing">
                  <button title="Raise" class="tools__item icon--raise" ng-click="raisePoints(section, question)" ng-disabled="question.answer.points >= question.points">Raise</button>
                  <button title="Lower" class="tools__item icon--lower" ng-click="lowerPoints(section, question)">Lower</button>
               </span>
               {{question.answer.points}}/{{question.points}} {{question.points !== 1 ? 'points' : 'point'}}
            </p>
         </header>

         <div class="question__chunk" ng-repeat="chunk in question.body" ng-switch on="chunk.datatype">
            <paragraph ng-switch-when="text" content="chunk.content" editable="false"></paragraph>
            <img ng-switch-when="image" class="question__image" ng-src="{{chunk.content}}">
            <img ng-switch-when="canvas" class="question__image" ng-src="data:image/svg+xml;base64,{{chunk.content | base64}}">
            <snippet ng-switch-when="code" content="chunk.content" lang="{{chunk.lang}}" editable="false"></snippet>
            <list ng-switch-when="list" content="chunk.content" editable="false"></list>
         </div>

         <div class="question__chunk question__answer" ng-repeat="chunk in question.answer.body" ng-switch on="chunk.datatype">
            <ul ng-if="!user.isStudent() && chunk.solution !== null" class="inline-list tools tools--small tools--flush">
               <li><button title="Show solution" class="tools__item icon--view" ng-mousedown="toggleSolution(chunk)" ng-mouseup="toggleSolution(chunk)">Show solution</button></li>
            </ul>
            <h2 class="heading heading--caption epsilon">Answer</h2>
            <paragraph ng-switch-when="text" content="chunk.content" editable="false"></paragraph>
            <img ng-switch-when="canvas" class="question__image" ng-src="data:image/svg+xml;base64,{{chunk.content | base64}}">
            <snippet ng-switch-when="code" content="chunk.content" lang="{{chunk.lang}}" editable="false"></snippet>
            <list ng-switch-when="list" content="chunk.content" editable="false"></list>
            <options ng-switch-when="options" content="chunk.content" editable="false" switchable="false"></options>
         </div>

      </article>

   </section>

</article>