<h1 class="alpha heading">Exam dates</h1>

<section class="list">

   <div class="grid">

      <div class="grid__item one-quarter" ng-repeat="exam in examDates">

         <section class="exam-preview">
            <div class="content">
               <h1 class="gamma heading exam-preview__student">{{exam.subject | uppercase}}</h1>
               <h2 class="epsilon heading exam-preview__subject">{{exam.date | date: 'd. M. yyyy'}}</h2>
               <h3 class="heading exam-preview__date">{{exam.date | date: 'h:mm'}}</h3>
            </div>
            <a ng-click="createBlueprint(exam)" href="" class="more"></a>
         </section>

      </div>

   </div>

</section>