<header>
   <h1 class="alpha heading">Pending exams<span class="heading__subtitle" ng-if="subject">: {{subject | uppercase}}</span></h1>
   <ul class="epsilon breadcrumbs" ng-if="subject">
      <li><a class="breadcrumbs__item" ui-sref="exams({ subject: null })">Subjects</a></li><!--
      --><li><a ng-class="{'ng-active': subject}" class="breadcrumbs__item">{{subject | uppercase}}</a></li>
   </ul>
</header>

<section class="list">

   <div class="grid">

      <div class="grid__item one-quarter lap--one-third palm--one-half" ng-repeat="item in items">

         <section ng-if="!subject" class="preview preview--stack">
            <div class="content">
               <h1 class="beta heading preview__heading">{{item | uppercase}}</h1>
            </div>
            <a ui-sref="exams({ subject: item })" class="more"></a>
         </section>

         <section ng-if="subject" class="preview preview--sheet">
            <div class="content">
               <h1 class="heading preview__heading">
                  <time class="alpha">{{item.date | date: 'd. M.'}}</time>
                  <time class="gamma">{{item.date | date: 'h:mm'}}</time>
               </h1>
               <h2 class="epsilon heading preview__subheading">{{item.subject | uppercase}}</h2>
            </div>
            <a ui-sref="exam({
               subject: item.subject,
               date: item.date,
               lang: item.lang
            })" class="more"></a>
         </section>

      </div>

   </div>

</section>