<div class="canvas">
   <canvas class="question__answer"></canvas>
   <ul class="inline-list canvas__tools">
      <li><button class="tools__item icon--arrow j-canvas-tool j-canvas-select"></button></li>
      <li><button class="tools__item icon--paint j-canvas-tool j-canvas-paint"></button></li>
      <li><button class="tools__item icon--rect j-canvas-tool j-canvas-rect"></button></li>
      <li><button class="tools__item icon--circle j-canvas-tool j-canvas-circle"></button></li>
      <li><button class="tools__item icon--line j-canvas-tool j-canvas-line"></button></li>
      <li><button class="tools__item icon--type j-canvas-tool j-canvas-type"></button></li>
      <li><button class="tools__item icon--trash j-canvas-tool j-canvas-remove j-disabled"></button></li>
      <li><button class="tools__item icon--undo j-canvas-tool j-canvas-undo j-disabled"></button></li>
      <li><button class="tools__item icon--redo j-canvas-tool j-canvas-redo j-disabled"></button></li>
   </ul>
</div>