<div class="canvas">
   <canvas></canvas>
   <ul class="inline-list tools canvas__tools" ng-show="editable">
      <li><button class="tools__item icon--arrow j-canvas-tool j-canvas-select"></button></li>
      <li><button class="tools__item icon--paint j-canvas-tool j-canvas-paint"></button></li>
      <li><button class="tools__item icon--rect j-canvas-tool j-canvas-rect"></button></li>
      <li><button class="tools__item icon--circle j-canvas-tool j-canvas-circle"></button></li>
      <li><button class="tools__item icon--line j-canvas-tool j-canvas-line"></button></li>
      <li><button class="tools__item icon--type j-canvas-tool j-canvas-type"></button></li>
      <li><button class="tools__item icon--trash j-canvas-tool j-canvas-remove" ng-disabled="!selection"></button></li>
      <li><button class="tools__item icon--undo j-canvas-tool j-canvas-undo" ng-disabled="content.currentState == 0"></button></li>
      <li><button class="tools__item icon--redo j-canvas-tool j-canvas-redo" ng-disabled="content.currentState == content.states.length - 1"></button></li>
   </ul>
</div>