<section ng-attr-class="modal modal--{{modal.type}}" ng-class="{'modal--loading': loading}" ng-if="modal">
   <button class="modal__close tools__item icon--remove" ng-click="close()">close</button>
   <div class="modal__content" ng-switch on="modal.type">

      <form ng-switch-when="loadImage" ng-submit="submitImage()">
         <label for="modal__input" class="modal__prompt">{{modal.prompt}}</label>
         <input type="url" id="modal__input" ng-model="modal.callback.value" required autofocus ng-init="modal.callback.value = 'http://31.media.tumblr.com/e05faf08d9254af029d384ccb2b9e81d/tumblr_msbc2eCq0e1rsuch2o1_1280.jpg'">
         <button ng-click="close()">Cancel</button>
         <button type="submit">Add image</button>
      </form>

      <form ng-switch-when="chooseLanguage">
         <label class="modal__prompt">{{modal.prompt}}</label>
         <select ng-init="modal.callback.value = 'en'" ng-model="modal.callback.value" required>
            <option value="en">English</option>
            <option value="cs">Čeština</option>
         </select>
         <button ng-click="close()">Cancel</button>
         <button ng-click="confirm()">Select</button>
      </form>

      <form ng-switch-when="chooseProgrammingLanguage">
         <label class="modal__prompt">{{modal.prompt}}</label>
         <select ng-init="modal.callback.value = 'javascript'" ng-model="modal.callback.value" required>
            <option value="bash">Bash</option>
            <option value="c">C</option>
            <option value="clike">C-like</option>
            <option value="coffeescript">CoffeeScript</option>
            <option value="cpp">C++</option>
            <option value="csharp">C#</option>
            <option value="css">CSS</option>
            <option value="gherkin">Gherkin</option>
            <option value="go">Go</option>
            <option value="groovy">Groovy</option>
            <option value="http">HTTP</option>
            <option value="java">Java</option>
            <option value="javascript">JavaScript</option>
            <option value="markup">Markup</option>
            <option value="nsis">NSIS</option>
            <option value="php">PHP</option>
            <option value="python">Python</option>
            <option value="ruby">Ruby</option>
            <option value="scss">Sass</option>
            <option value="sql">SQL</option>
         </select>
         <button ng-click="close()">Cancel</button>
         <button ng-click="confirm()">Select</button>
      </form>

      <form ng-switch-when="setDuration">
         <p class="modal__prompt">
            {{modal.prompt}} <number content="modal.callback.value" ng-init="modal.callback.value = '60'" editable="true" autofocus></number> {{modal.callback.value != 1 ? 'minutes' : 'minute'}}.
         </p>
         <button ng-click="close()">{{modal.secondaryActionLabel || 'Cancel'}}</button>
         <button ng-click="confirm()">{{modal.primaryActionLabel || 'Begin'}}</button>
      </form>

      <div ng-switch-when="save">
         <p class="modal__prompt">{{modal.prompt}}</p>
         <button ng-click="close()">Cancel</button>
         <button ng-click="confirm()">Store</button>
      </div>

      <div ng-switch-when="confirm">
         <p class="modal__prompt">{{modal.prompt}}</p>
         <button ng-click="confirm()">{{modal.secondaryActionLabel || 'Yes, I\'m sure'}}</button>
         <button ng-click="close()">{{modal.primaryActionLabel || 'Cancel'}}</button>
      </div>

      <div ng-switch-when="shadyStudent">
         <p class="modal__prompt">{{modal.prompt}}</p>
         <button ng-click="confirm()">I understand</button>
      </div>

      <div ng-switch-when="alert">
         <p class="modal__prompt">{{modal.prompt}}</p>
         <button ng-click="confirm()">I understand</button>
      </div>

      <div ng-switch-when="examFinished">
         <p class="modal__prompt">{{modal.prompt}}</p>
         <button ng-click="confirm()">Hand in</button>
      </div>

      <div ng-switch-when="examStarted">
         <p class="modal__prompt">{{modal.prompt}}</p>
         <button ng-click="confirm()">Continue</button>
      </div>

      <div ng-switch-when="error">
         <p class="modal__prompt">{{modal.prompt}}</p>
         <button ng-click="confirm()">I understand</button>
      </div>

      <div ng-switch-when="success">
         <p class="modal__prompt">{{modal.prompt}}</p>
         <button ng-click="confirm()">Continue</button>
      </div>

      <div ng-switch-when="studentsList">
         <ul class="bullet-list modal__prompt">
            <li ng-repeat="student in modal.prompt">
               {{student.name}} ({{student.id}})
            </li>
         </ul>
         <button ng-click="confirm()">Continue</button>
      </div>

   </div>
</section>