<section ng-attr-class="modal modal--{{modal.type}}" ng-if="modal">
   <button class="modal__close tools__item icon--remove" ng-click="close()">close</button>
   <div class="modal__content" ng-switch on="modal.type">
      <form ng-switch-when="loadImage" ng-submit="submitImage()">
         <div ng-show="loading">loading</div>
         <p class="modal__prompt">{{modal.prompt}}</p>
         <input type="url" ng-model="modal.callback.value" required autofocus>
         http://31.media.tumblr.com/e05faf08d9254af029d384ccb2b9e81d/tumblr_msbc2eCq0e1rsuch2o1_1280.jpg
         <button ng-click="close()">Cancel</button>
         <button type="submit">Add image</button>
      </form>
      <form ng-switch-when="chooseLanguage">
         <p class="modal__prompt">{{modal.prompt}}</p>
         <select ng-init="modal.callback.value = 'en'" ng-model="modal.callback.value" required>
            <option value="en">English</option>
            <option value="cs">Čeština</option>
         </select>
         <button ng-click="close()">Cancel</button>
         <button ng-click="confirm()">Select</button>
      </form>
      <div ng-switch-when="save">
         <p class="modal__prompt">{{modal.prompt}}</p>
         <button ng-click="close()">Cancel</button>
         <button ng-click="confirm()">Store</button>
      </div>
      <div ng-switch-when="confirm">
         <p class="modal__prompt">{{modal.prompt}}</p>
         <button ng-click="confirm()">{{modal.secondaryActionLabel || 'Yes, I\'m sure'}}</button>
         <button ng-click="close()">{{modal.primaryActionLabel || 'Cancel'}}</button>
      </div>
      <div ng-switch-when="alert">
         <p class="modal__prompt">{{modal.prompt}}</p>
         <button ng-click="confirm()">I understand</button>
      </div>
      <div ng-switch-when="error">
         <p class="modal__prompt">{{modal.prompt}}</p>
         <button ng-click="confirm()">I understand</button>
      </div>
      <div ng-switch-when="success">
         <p class="modal__prompt">{{modal.prompt}}</p>
         <button ng-click="confirm()">Continue</button>
      </div>
   </div>
</section>