<section class="modal" ng-if="modal" ng-switch on="modal.type">
   <button class="modal__close tools__item icon--remove" ng-click="close()">close</button>
   <form ng-switch-when="externalImage" ng-submit="submitImage()">
      <div ng-show="loading">loading</div>
      <label for="" class="modal__prompt">{{modal.prompt}}</label>
      <input type="url" ng-model="modal.callback.value" required autofocus>
      <button type="submit">Add image</button>
   </form>
   <div ng-switch-when="confirm">
      <p class="modal__prompt icon--caution">{{modal.prompt}}</p>
      <button ng-click="confirm()">{{modal.secondaryActionLabel || 'Yes, I\'m sure'}}</button>
      <button ng-click="close()">{{modal.primaryActionLabel || 'Cancel'}}</button>
   </div>
   <div ng-switch-when="alert">
      <p class="modal__prompt">{{modal.prompt}}</p>
      <button ng-click="confirm()">I understand</button>
   </div>
   <div ng-switch-when="success">
      <p class="modal__prompt">{{modal.prompt}}</p>
      <button ng-click="confirm()">Continue</button>
   </div>
</section>