<article class="question" id="{{question.name | idfy}}">

   <h1 class="delta heading heading--subsection question__heading">
      {{question.name}}
      <span class="question__points">{{question.points}} points</span>
   </h1>

   <div ng-repeat="chunk in question.body" ng-switch on="chunk.datatype">
      <p ng-switch-when="text">{{chunk.content}}</p>
      <img class="question__image" ng-switch-when="image" ng-src="{{chunk.content}}">
      <pre class="j-code" ng-switch-when="code"><code class="language-{{chunk.lang}}">{{chunk.content}}</code></pre>
   </div>

   <div ng-repeat="chunk in question.answer" ng-switch on="chunk.datatype">
      <div ng-if="chunk.content">
         <h2 class="heading heading--caption">Hint</h2>
         <p ng-switch-when="text" class="question__answer">{{chunk.content}}</p>
         <pre ng-switch-when="code" class="question__answer j-code"><code class="language-{{chunk.lang}}">{{chunk.content}}</code></pre>
      </div>
      <div ng-if="chunk.solution">
         <h2 class="heading heading--caption">Solution</h2>
         <p ng-switch-when="text" class="question__answer">{{chunk.solution}}</p>
         <pre ng-switch-when="code" class="question__answer j-code"><code class="language-{{chunk.lang}}">{{chunk.solution}}</code></pre>
      </div>
   </div>

</article>