/* ==========================================================================
   Search form swing (requires fixed navigation module)
   ========================================================================== */

@keyframes swing {
   20% {
      transform: rotateX(60deg);
   }
   50% {
      transform: rotateX(-30deg);
   }
   75% {
      transform: rotateX(25deg);
   }
   90% {
      transform: rotateX(-15deg);
   }
   100% {
      transform: rotateX(0);
   }
}

@include media-query(palm) {
   .search-form {
      @include position($bottom: 0, $left: 0);
      z-index: -1;
      width: 100%;
      perspective: 30rem;
      transform-style: preserve-3d;
      &__submit {
         @include position($bottom: auto, $right: ($gutter * 2.5));
      }
      &__input {
         @include position($top: 100%, $left: 0);
         width: 100%;
         height: $fixed-header-height;
         padding: 0 $gutter;
         border: 0;
         transform: rotateX(-90deg);
         transform-origin: top;
         transition: transform .2s ease-in;
         backface-visibility: hidden;
      }
      &.j-active &__input {
         transform: rotateX(0);
         transition-duration: .1s;
         animation: swing .5s .1s ease-out;
      }
   }
}
